<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Demo Market</title>
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{favicon/favicon-16x16.png}">
        <link rel="manifest" th:href="@{favicon/site.webmanifest}">

        <link rel="stylesheet" th:href="@{css/main.css}">
<!--        <script type="text/javascript" src="../../static/js/jquery-3.5.1.min.js"></script>-->
<!--        <script type="text/javascript" src="../../static/js/main.js"></script>-->
    </head>

    <body>
        <div th:insert="/fragment/header :: html"></div>

        <!-- 검색용 ui
        <section id="content">
            <div class="content-container">
                <div class="articles-wrap">
                    ㅋㅋㅋ
                </div>
            </div>
        </section> -->

        <section id="popular-products">
            <h3>인기 상품</h3>
            
            <div class="title-line-divider"></div>

            <section class="cards-wrap">
                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/etc/boxster.jpg">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>

                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/book/book01.jpg">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>

                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/dress/dress01.png">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>

                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/food/food01.jpeg">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>
            </section>
        </section>

        <section id="category-products">
            <h3>카테고리별 상품</h3>
            
            <div class="title-line-divider"></div>

            <!-- 카테고리 -->
            <div class="categories-group">
                <a class="btn btn-category" href="./main.html?category=food">
                    식품
                </a>&nbsp;
                <a class="btn btn-category" href="./main.html?category=book">
                    도서
                </a>&nbsp;
                <a class="btn btn-category" href="./main.html?category=dress">
                    옷
                </a>&nbsp;
                <a class="btn btn-category" href="./main.html?category=etc">
                    기타
                </a>
            </div>

            <section class="cards-wrap">
                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/etc/boxster.jpg">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>

                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/book/book01.jpg">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>

                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/dress/dress01.png">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>

                <article class="card-top">
                    <a class="card-link" data-event-label="12345" href="./main.html?product_no=12345">
                        <div class="card-image">
                            <img alt="boxster" src="../../static/images/products/food/food01.jpeg">
                        </div>

                        <div class="card-description">
                            <h2 class="card-title">상품명</h2>

                            <div class="card-region-name">
                                서울 광진구 광장동
                            </div>

                            <div class="card-price">
                                10,000원
                            </div>

                            <div class="card-counts">
                                <span>관심 4</span>
                                ∙
                                <span>채팅 50</span>
                            </div>
                        </div>
                    </a>
                </article>
            </section>
        </section>

        <div th:insert="/fragment/footer :: html"></div>
    </body>
</html>