<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>

<body>
    <div th:text="${product.no}"></div>
    <div th:text="${product.name}"></div>
    <div th:text="${product.category}"></div>
    <div th:text="${product.description}"></div>
    <div th:text="${product.price}"></div>
    <div th:text="${product.createDate}"></div>
    <div th:text="${product.updateDate}"></div>
</body>
</html>