<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>

    <header id="fixed-bar" class="fixed-bar-box-shadow">
        <div id="fixed-bar-wrap">
            <h1 id="fixed-bar-logo-title"> <!--id에 따른 css 적용x-->
                <a th:href="@{/main}">
                    <img alt="데모마켓" th:src="@{/images/logo2.png}" class="fixed-logo">
                </a>
            </h1>

            <section id="fixed-bar-search">
                <div class="search-input-wrap">
                    <input type="text" name="header-search-input" id="header-search-input" class="fixed-search-input" placeholder="검색어를 입력하세요.">
                    <button id="header-search-button">
                        <img alt="Search" th:src="@{/images/icon/search.svg}" class="fixed-search-icon">
                    </button>
                </div>
            </section>

            <section id="fixed-bar-login" th:if="${user == null}">
                <button id="header-login-button" class="header-button">
                    <a th:href="@{/login}">로그인</a>
                </button>

                <button id="header-regist-button" class="header-button">
                    <a th:href="@{/registration}">회원가입</a>
                </button>
            </section>

            <section id="fixed-bar-user-area" th:unless="${user == null}">
                <button id="header-write-button" class="header-icon-button">
                    <img alt="Write" th:src="@{/images/icon/write.svg}" class="">
                </button>

                <button id="header-cart-button" class="header-icon-button">
                    <img alt="Cart" th:src="@{/images/icon/cart.svg}" class="">
                </button>

                <button id="header-user-profile-button" class="header-icon-button non-hover">
                    <img alt="Profile" th:src="@{/images/profiles/profile01.jpeg}" class="header-user-profile-image">
                    <img alt="Spread" th:src="@{/images/icon/spread.svg}" id="header-user-profile-spread">
                </button>
            </section>

            <section id="fixed-bar-user-menu">
                <div class="menu-wrapper">
                    <a href="main">
                        <div class="menu-item">메뉴1</div>
                    </a>

                    <a href="main">
                        <div class="menu-item">메뉴2</div>
                    </a>

                    <form method="POST" th:action="@{/logout}" id="logoutForm">
                        <div id="menu-item-logout" class="menu-item">로그아웃</div>
                    </form>
                </div>
            </section>
        </div>
    </header>
</html>