<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Demo Market</title>
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../static/favicon/site.webmanifest">

        <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
        <link rel="stylesheet" href="../../static/css/main.css">

        <!-- <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
    </head>

    <body>
        <header id="fixed-bar" class="fixed-bar-box-shadow">
            <div id="fixed-bar-wrap">
                <h1 id="fixed-bar-logo-title"> <!--id에 따른 css 적용x-->
                    <a href="./main.html">
                        <img alt="데모마켓" src="../../static/images/logo2.png" class="fixed-logo">
                    </a>
                </h1>

                <section id="fixed-bar-search">
                    <div class="search-input-wrap">
                        <input type="text" name="header-search-input" id="header-search-input" class="fixed-search-input" placeholder="검색어를 입력하세요.">
                        <button id="header-search-button">
                            <img alt="Search" src="../../static/images/icon/search.svg" class="fixed-search-icon">
                        </button>
                    </div>
                </section>

                <section id="fixed-bar-login">                
                    <button id="header-login-button" class="header-button">
                        로그인
                    </button>

                    <button id="header-regist-button" class="header-button">
                        회원가입
                    </button>
                </section>

                <section id="fixed-bar-logout" style="display: none;">
                    <button id="header-logout-button" class="header-button">
                        로그아웃
                    </button>
                </section>
            </div>
        </header>

        <section id="content">
            <div class="content-container">
                <div class="articles-wrap">
                    ㅋㅋㅋ
                </div>
            </div>
        </section>

        <!-- <h1>Welcome to...</h1> -->
        <!-- <img th:src="@{/images/TacoCloud.png}" /> -->

        <footer id="footer">
            <ul id="footer-address-list" class="footer-list">
                <li class="footer-list-item">
                    개발문의 : 
                    <a href="mailto:dev.kani@kakao.com">dev.kani@kakao.com</a>
                </li>

                <li class="footer-list-item">
                    Github Link :
                    <a href="https://github.com/YoungWukJeon/group-study/tree/master/spring-in-action/demo">link</a>
                </li>                
            </ul>

            <p id="team-member">
                (팀)그룹 스터디 참여자 홍길동, 임꺽정
            </p>

            <div id="copyright">
                Copyright ⓣ Group Study. All rights reserved.
            </div>
        </footer>
    </body>
</html>