<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Demo Market</title>
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../../static/favicon/site.webmanifest">

        <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
        <link rel="stylesheet" href="../../static/css/login.css">

        <!-- <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
    </head>

    <body>
        <div id="login-content">
            <section id="logo-bar">
                <div id="logo-bar-wrap" class="container">
                    <a href="./main.html">
                        <img alt="데모마켓" src="../../static/images/logo2.png" class="logo">
                    </a>
                </div>
            </section>

            <section id="registration-form" class="container">
                <form method=POST action="" class="form-sign">
                    <h5 class="form-headline">📦 로그인 💵</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmail" placeholder="이메일 입력">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="비밀번호 입력">
                    </div>

                    <button class="btn regist-btn">로그인 하기</button>
                    <a href="registration.html" class="btn login-btn">계정 만들기</a>
                </form>
            </section>
        </div>

        <!-- <footer id="footer">
            <ul id="footer-address-list" class="footer-list">
                <li class="footer-list-item">
                    개발문의 : 
                    <a href="mailto:dev.kani@kakao.com">dev.kani@kakao.com</a>
                </li>

                <li class="footer-list-item">
                    Github Link :
                    <a href="https://github.com/YoungWukJeon/group-study/tree/master/spring-in-action/demo">link</a>
                </li>                
            </ul>

            <p id="team-member">
                (팀)그룹 스터디 참여자 홍길동, 임꺽정
            </p>

            <div id="copyright">
                Copyright ⓣ Group Study. All rights reserved.
            </div>
        </footer> -->
    </body>
</html>