@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
}

html {
    min-width: 980px;
    height: 100%;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #212529;
    text-align: center;
    margin-bottom: 40px;
}

/***여기부터 header*****/
#fixed-bar {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.fixed-bar-box-shadow {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

#fixed-bar-wrap {
    width: 980px;
    margin: 0 auto;
    padding: 17px 0;
    position: relative;
}

.fixed-logo {
    width: 132px;
}

#fixed-bar-search {
    position: absolute;
    left: 150px;
    top: 17px;
    border-radius: 5px;
    border: solid 1px rgb(18, 184, 134);
    text-decoration: none;
    padding: 1px 8px 1px 14px;
    height: 40px;
}

.search-input-wrap {
    position: relative;
    padding-right: 40px;
}

#header-search-input {
    width: 440px;
    height: 40px;
    border: none;
    font-size: 18px;
    color: #212529;
    margin-right: 6px;
}

#header-search-input:focus {
    outline: none;
}

.fixed-search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    fill: rgb(18, 184, 134);
    padding: 7px 7px;
}

#fixed-bar-login {
    position: absolute;
    right: 0;
    top: 21px;
}

.header-button {
    border-radius: 15px;
    border: solid 1px rgb(214, 171, 127);
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    font-weight: bold;
    color: rgb(214, 171, 127);
}

.header-button:hover {
    background-color: rgb(214, 171, 127);
    color: #fff;
}

#fixed-bar-logout {
    position: absolute;
    right: 0;
    top: 21px;
}

::selection {
    color: #fff;
    background-color: rgb(214, 171, 127);
}

#fixed-bar-button {
    position: absolute;
    right: 0;
    top: 17px;
}

/***여기부터 section*****/
/*  검색용 UI-start */
/* #content {
    position: relative;
    z-index: 99;
    margin-top: 76px;
    background: #f8f9fa;
    padding: 30px 0 40px 0;
}

.content-container {
    border-radius: 8px;
    border: 1px solid #e9ecef;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
}

.articles-wrap {
    height: 500px;
    padding: 0 40px;
} */
/*  검색용 UI-end */

#popular-products {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 120px 0;
}

.title-line-divider {
    width: 70px;
    border-top: 2px solid rgb(214, 171, 127);
    margin: 0 auto;
    margin-bottom: 50px;
}

#popular-products .cards-wrap {
    width: 980px;
}

.cards-wrap {
    margin: 0 auto;
    text-align: center;
}

.card-top {
    position: relative;
    text-align: left;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    width: calc(24% - 34px);
    margin-right: 34px;
    margin-bottom: 40px;
}

.card-top:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    top: -2px;
}

.card-link {
    text-decoration: none;
    color: #212529;
}

.card-image {
    width: 100%;
    position: relative;
    height: 160px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    background-color: #f8f9fa;
}

.card-image img {
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.card-description {
    padding: 16px;
    padding-bottom: 0;
}

.card-title {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.6px;
    color: #212529;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 6px;
    line-height: 1.2;
}

.card-region-name {
    font-size: 15px;
    color: #868e96;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    line-height: 1.3;
}

.card-price {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 1px solid #e9ecef;
    line-height: 1.3;
    color: rgb(18, 184, 134);
}

.card-counts {
    padding: 12px 0;
    color: #adb5bd;
    font-size: 13px;
}

.categories-group {
    text-align: center;
}

.btn-category {
    padding: 4px 20px;
    border-radius: 100px;
    border: 1px solid #E9ECF3;
    margin-bottom: 8px;
}

.btn {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}













/***여기부터 footer*****/

footer {
    padding: 40px 0 67px 0;
    background-color: #495057;
    color: #dee2e6;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.6px;
    text-align: center;
    z-index: 100;
}

#footer-address-list {
    font-weight: 200;
}

.footer-list {
    list-style-type: none;
    margin: 24px 0;
}

.footer-list-item {
    display: inline-block;
    
}

.footer-list-item a {
    text-decoration: none;
    color: #dee2e6;
}

.footer-list-item a:hover {
    text-decoration: underline;
}

.footer-list-item::after {
    content: '|';
    margin: 0 16px;
    color: #868e96;
    font-weight: normal;
}

.footer-list-item:last-child::after {
    content: none;
}

#team-member {
    font-weight: 200;
}

#copyright {
    color: #868e96;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: -0.6px;
    margin: 8px 0;
}